[Desktop Entry]
Type=Application
Name=Yama
Comment=A self-hosted music client
Exec=/opt/yama/bin/Yama
Icon=yama
Terminal=false
Categories=AudioVideo;Audio;Player;
